.container {
    align-items: center;
    color: black !important;
    display: flex;
    flex-direction: column;
    height: 24em;
    justify-content: center;
    width: 100%;
  }
  
  .title {
    color: black !important;
  }
  
  .containerInfo {
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    width: 22em;
  }
  
  .containerInfo:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.2s;
  }
  
  .contentLink {
    align-items: center;
    color: black !important;
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 4px;
    text-decoration: none;
  }
  
  .leftIcon {
    width: 20px;
  }
  
  .brazilFlag {
    width: 20px;
  }
  
  .euaFlag {
    margin-top: 2px;
    width: 20px;
  }