@import url("https://use.typekit.net/tkq6qfa.css");

h1, a, p, body {
  color: rgb(248, 248, 248);
  font-family: poppins, sans-serif;
  margin: 0;
}

.each-slideshow-indicator:before {
  background-color: white !important;
  position: absolute;
  width: 10px;
  top: 6;
  left: 50%;
  margin-left: 5px;
}

.indicators {
  padding: 0;
}

.arrow-slideshow {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  padding: 16px 20px;
}

.arrow-slideshow:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}

@media(max-width: 700px) {
  .previous-image {
    display: none;
  }
}
